# Repo specific
/data/filters/*
!/data/filters/.gitkeep
!/data/filters/searchlight_filter_FF01-470_22_AOI_00deg.csv
!/data/filters/searchlight_filter_FF01-470_22_AOI_01deg.csv
!/data/filters/searchlight_filter_FF01-470_22_AOI_02deg.csv
!/data/filters/searchlight_filter_FF01-470_22_AOI_03deg.csv
!/data/filters/searchlight_filter_FF01-470_22_AOI_04deg.csv
!/data/filters/searchlight_filter_FF01-470_22_AOI_05deg.csv
!/data/filters/searchlight_filter_FF01-550_88_AOI_00deg.csv
!/data/filters/searchlight_filter_FF01-550_88_AOI_05deg.csv
!/data/filters/searchlight_filter_FF01-550_88_AOI_10deg.csv
!/data/filters/searchlight_filter_FF01-550_88_AOI_15deg.csv
!/data/filters/searchlight_filter_FF01-550_88_AOI_20deg.csv
!/data/filters/searchlight_filter_FF01-550_88_AOI_25deg.csv
!/data/filters/searchlight_filter_FF01-550_88_AOI_30deg.csv
!/data/filters/searchlight_filter_FF01-550_88_AOI_35deg.csv
!/data/filters/searchlight_filter_FF01-550_88_AOI_40deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_30deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_35deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_40deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_41deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_42deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_43deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_44deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_45deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_46deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_47deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_48deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_49deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_50deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_55deg.csv
!/data/filters/searchlight_filter_FF495-Di03_AOI_60deg.csv

/data/fluorophores/*
!/data/fluorophores/.gitkeep
!/data/fluorophores/searchlight_fluorophore_GCaMP6.csv

/data/light_sources/*
!/data/light_sources/.gitkeep
!/data/light_sources/searchlight_light_source_Blue_470_nm_LED_Bluebox_Optics_niji_7.csv

# General
.DS_Store
.AppleDouble
.LSOverride
tmp/

# Icon
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Webfiles
node_modules/
vendor/

# CAD files
lockfile.lck
OldVersions

# Environment
.venv/
.idea/
*.egg-info/
.eggs/
build/
dist/
__pycache__/
*.py[cod]

# Performance logging
logs/
*.log